/* колір основного текста  #212121  */
/* вторичний колір #757575 */
/* билий колір основного текста #FFFFFF */
/* акцент колір кнопкі #2196F3 */
/* прозорий білий rgba(255, 255, 255, 0.6) */

:root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --acent-color: #2196f3;
  --white-text-color: #ffffff;
  --transparent-white-color: rgba(255, 255, 255, 0.6);
  --black-text-color: #000000;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--white-text-color);
  color: var(--primary-text-color);
  font-size: 14px;
  letter-spacing: 0.03em;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

/*----------------------HEADER-------------------------------------*/

.header-text {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  color: var(--black-text-color);
}

.text-link {
  color: var(--acent-color);
}

.item-link {
  font-style: normal;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--primary-text-color);
}

.item-link:hover,
.item-link:focus {
  color: var(--acent-color);
}

.header-link {
  font-style: normal;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--acent-color);
}

.list-link {
  font-style: normal;
  font-weight: 500;

  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

.list-link:hover,
.list-link:focus {
  color: var(--acent-color);
}

.link-item {
  font-style: normal;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

.link-item:hover,
.link-item:focus {
  color: var(--acent-color);
}

/* ------------Main hero ------------------*/
.main-container {
  background: #2f303a;
}

.main-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-text-color);
}

.main-btn {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--white-text-color);
  background: var(--acent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.main-btn:hover,
.main-btn:focus {
  color: var(--acent-color);
  background-color: var(--white-text-color);
}

/* -------------Section Перевагт------------- */
.container-subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color);
}

.container-text {
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

/* ---------Section Чим займаємось------------ */
.box-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}

/* ----------------------Section Команда ---------------------------*/
.list-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}

.list-subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

.list-text {
  font-size: 16px;
  line-height: 1.18;

  color: var(--title-text-color);
}

/* ------------------------------FOOTER---------------------------------- */
.footer {
  background: #2f303a;
}

.text-list {
  color: var(--acent-color);
}

.footer-link {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  color: var(--white-text-color);
}

.box-link {
  font-style: normal;
  line-height: 1.71;

  color: var(--white-text-color);
}

.link-mail,
.link-tel {
  font-style: normal;
  line-height: 1.71;

  color: rgba(255, 255, 255, 0.6);
}

.link-mail:hover,
.link-mail:focus {
  color: var(--acent-color);
}

.link-tel:hover,
.link-tel:focus {
  color: var(--acent-color);
}

/* ------------------------------P O R T F O L I O ------------------*/

/* ------------------------------header---------------------------- */

/* ------------------------Main --------------------------------------------*/
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.content-link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;

  color: var(--primary-text-color);
}

.content-link:hover,
.content-link:focus {
  color: var(--white-text-color);
  background-color: var(--acent-color);
}

.current {
  color: var(--acent-color);
}

/* -------------Section Перелік-------------------- */

.inner-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.inner-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
